<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">


<div fxFlex="40" *ngIf="dish" [@visibility]="visibility"  [@expand]>
<md-card >
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img height="200px" src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      	<md-card-content>
        <p>{{dish.description}}
        </p>
    	</md-card-content>
       <md-card-actions>
        <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </md-card-actions>
  </md-card>

</div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility"  [@expand]>
  <h2> Comments </h2>
    <md-list *ngIf="dish">
 <md-list-item *ngFor="let comments of dish.comments">
	<h3 mdLine> {{comments.comment}} </h3>
    <p mdLine> {{comments.rating}} Stars </p>
    <p mdLine>-- {{comments.author}} {{comments.date | date}} </p>

 </md-list-item>

 <md-list-item *ngIf = "CommentForm.valid">
  <h3 mdLine> {{CommentForm.value.comment}} </h3>
    <p mdLine> {{CommentForm.value.rating}} Stars </p>
    <p mdLine>-- {{CommentForm.value.author}}  </p>

 </md-list-item>
 
 </md-list>

<form [formGroup]="CommentForm" novalidate *ngIf = "dish" (ngSubmit)="onSubmit()">
   <p> <md-input-container dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
              <input mdInput formControlName="author" placeholder="Name" type="text" required>
              <md-hint>
                <span [hidden]="!(formErrors.author)">
                  {{formErrors.author}}</span>
              </md-hint>
    </md-input-container>
  </p>
  <p>
    <md-slider thumbLabel tickInterval="1" min="1" max="5" value="5" formControlName="rating"></md-slider>
  </p>
  <p>
    <md-input-container class="full-width">
              <textarea mdInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
               <md-hint>
                <span [hidden]="!(formErrors.comment)">
                  {{formErrors.comment}}</span>
              </md-hint>
    </md-input-container>
  </p>        

    <button type="submit" md-button class="background-primary text-floral-white" [disabled]="CommentForm.invalid">Submit</button>
</form>
            

        
  </div>
   
 <div [hidden]="dish|| disherrMess">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="disherrMess">
    <h2>Error</h2>
    <h4>{{disherrMess}}</h4>
</div>
  
</div>